.country{
    background-color: azure;
}
.detailsCountries{
   float: left;
    width: 200px;
    height: 350px;
    background-color: rgb(165, 207, 207);
    margin: 10px;
}
.detailsCountries h3 h4 p{display: flex;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
img{
    height: 150px;
    width: 200px;
    margin:  0 auto;
}